[user]
    name = h8_s
    email = h8_s@usa.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore
[push]
    default = current
[pull]
    ff = only
[merge]
    conflictstyle = diff3
[includeIf "gitdir:~/work/open-bean/"]
    path = ~/work/open-bean/.gitconfig
[log]
    graphColors = cyan
[color "decorate"]
    HEAD = bold green
    branch = bold white
    remoteBranch = bold white
    tag = bold white
[diff "color"]
    commit = white
    frag = bold white
[color "branch"]
    current = bold green
    local = white
    upstream = white
