[user]
    name = h8_s
    email = h8_s@usa.com
[core]
    editor = nvim
    excludesfile = ~/.gitignore
[push]
    default = current
[pull]
    ff = only
[merge]
    conflictstyle = diff3
[includeIf "gitdir:~/work/open-bean/"]
    path = ~/work/open-bean/.gitconfig
[log]
    graphColors = white
[color "decorate"]
    HEAD = bold yellow
    branch = bold blue
    remoteBranch = blue
    tag = blue
[diff "color"]
    commit = brightwhite
[color "branch"]
    current = bold blue
    local = bold blue
    upstream = blue
