[core]
    editor = nvim
    excludesfile = ~/.gitignore
    pager = "less --tabs=1,5"
[push]
    default = current
[pull]
    ff = only
[merge]
    conflictstyle = diff3
[log]
    graphColors = blue
[color "decorate"]
    HEAD = bold yellow
    branch = bold white
    remoteBranch = bold white
    tag = bold white
    stash = bold yellow
[diff "color"]
    commit = white
    frag = bold white
[color "branch"]
    current = bold yellow
    local = white
    upstream = white
[color "interactive"]
    prompt = bold white
